.wrapper_newApp {
  display: flex;
  padding: 40px;
  background-color: rgb(249, 249, 252);
  flex-direction: column;
  gap: 40px;
}

.title_container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 17px;
  margin-bottom: 40px;
}

.title_container_icon {
  display: flex;
  width: 24px;
  height: 24px;
}

.title_name {
  color: rgb(36, 37, 51);
  font-size: 24px;
  font-weight: 600;
  line-height: 29px;
  letter-spacing: 0%;
}

.titles_dot {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: rgb(100, 77, 237);
}

.title_subname {
  color: rgb(72, 73, 100);
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0%;
}

.container_create_app {
  display: flex;
  flex-direction: column;
}

.title_table {
  color: rgb(50, 50, 64);
  font-size: 16px;
  font-weight: 500;
  line-height: 19px;
  letter-spacing: 0px;
  padding: 24px;
  box-sizing: border-box;

  border: 1px solid rgb(223, 228, 242);
  border-radius: 16px 16px 0px 0px;
  background: rgb(255, 255, 255);
}

.form_container {
  padding: 24px;
  background: rgb(255, 255, 255);
  border: 1px solid rgb(223, 228, 242);
  border-top: none;
}

.wrapper_inputs {
  display: grid;

  grid-template-areas: "first second" "third fourth";
  gap: 28px 40px;
}

.input_container1,
.input_container2,
.input_container3,
.input_container4 {
  display: flex;
  flex-direction: column;
  gap: 4px;
  height: fit-content;
}

.input_container1 {
  grid-area: first;
}
.input_container2 {
  grid-area: third;
}
.input_container3 {
  grid-area: second;
}
.input_container4 {
  grid-area: fourth;
}

.input_label {
  color: rgb(72, 73, 100);
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0px;
}

.input {
  padding: 20px;
  color: #000;
  font-size: 16px;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0px;

  box-sizing: border-box;

  border: 1px solid rgb(223, 228, 242);
  border-radius: 16px;
  background: rgb(255, 255, 255);
}

.input::placeholder {
  color: rgb(171, 172, 190);
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0px;
  text-align: start;
}

.input:focus {
  border: 1px solid rgb(100, 77, 237);
  border-radius: 16px;
  outline: 0;
}

.form_actions {
  padding-top: 28.5px;
  display: flex;
  justify-content: flex-end;
  gap: 24px;
}

.button_cansel,
.button_create {
  cursor: pointer;
  border: none;
  border-radius: 12px;

  font-size: 14px;
  font-weight: 700;
  line-height: 17px;
  letter-spacing: 0%;
  padding: 10px 36px;
  transition: box-shadow 300ms;
}

.button_cansel {
  color: rgb(100, 77, 237);
  background-color: transparent;
}

.button_create {
  color: rgb(255, 255, 255);
  background: rgb(188, 188, 198);
}

.button_cansel:hover,
.button_create:hover {
  box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.3);
}
